<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3>店舗詳細</h3>
      
      <div class="mb-3">
        <%= link_to '削除', admin_shop_path(@shop), 
            data: { turbo_method: :delete }, 
            class: 'btn btn-danger' %>
        <%= link_to '一覧に戻る', admin_shops_path, class: 'btn btn-secondary' %>
      </div>
      
      <table class="table table-bordered bg-white">
        <tr>
          <th scope="row" style="width: 30%;">ID</th>
          <td><%= @shop.id %></td>
        </tr>
        <tr>
          <th scope="row">店舗名</th>
          <td><%= @shop.name %></td>
        </tr>
        <tr>
          <th scope="row">住所</th>
          <td><%= @shop.address %></td>
        </tr>
        <tr>
          <th scope="row">電話番号</th>
          <td><%= @shop.phone %></td>
        </tr>
        
        <% if @shop.photo_url.present? %>
          <tr>
            <th scope="row">店舗画像</th>
            <td>
              <%= image_tag @shop.photo_url, class: 'img-fluid', style: 'max-width: 500px;' %>
            </td>
          </tr>
        <% end %>
        
        <tr>
          <th scope="row">作成日時</th>
          <td><%= l @shop.created_at, format: :long %></td>
        </tr>
        <tr>
          <th scope="row">更新日時</th>
          <td><%= l @shop.updated_at, format: :long %></td>
        </tr>
      </table>
    </div>
  </div>
</div>