<h1>Shops List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Rating</th>
      <th>Place ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.address %></td>
        <td><%= shop.rating %></td>
        <td><%= shop.place_id %></td>
        <td><%= shop.latitude %></td>
        <td><%= shop.longitude %></td>
        <td>
          <% if shop.photo_url.present? %>
            <img src="<%= shop.photo_url %>" alt="<%= shop.name %>の写真" style="max-width: 100px; height: auto;">
          <% else %>
            <p>画像がありません</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
