<div class="d-flex flex-column min-vh-100 align-items-center justify-content-center" style="padding-top: 4rem;">
  <% if @shop.photo_url.present? %>
    <%= image_tag @shop.photo_url, alt: "#{@shop.name}の画像", class: "w-50 rounded" %>
  <% end %>
  
  <h1 class="text-center mb-4"><%= @shop.name %></h1>
  <p class="text-center mb-2">評価: <%= @shop.rating || '評価なし' %></p>
  <p class="text-center mb-4">住所: <%= @shop.address %></p>
  <p class="text-center mb-2">電話番号: <%= @shop.phone %></p>
  <p class="text-center mb-4">営業時間:</p>
  <ul class="list-unstyled text-center">
    <% @shop.opening_hours.split(',').each do |hours| %>
      <li class="mb-2"><%= hours.strip %></li>
    <% end %>
  </ul>

  <%= link_to t('header.create_board'), new_board_path %>

  <a href="/maps" class="btn btn-secondary">
    戻る
  </a>
</div>
