<div class="container my-4">
  <div class="text-center mb-4">
    <% if @shop.photo_url.present? %>
      <%= image_tag @shop.photo_url,
          alt: t('defaults.shop_image_alt', name: @shop.name),
          class: "img-fluid rounded mb-3",
          style: "max-width: 60%;" %>
    <% end %>

    <h3 class="mb-2"><%= @shop.name %></h3>
    <p class="mb-2">⭐ <%= @shop.rating || t('defaults.no_rating') %></p>

    <div class="d-flex justify-content-center gap-2 flex-wrap mb-3">

      <button onclick="navigateToShop({
        latitude: '<%= @shop.latitude %>',
        longitude: '<%= @shop.longitude %>'
        })" class="btn btn-outline-success">
        <i class="fas fa-map-marker-alt me-1"></i>
        <%= t('defaults.navigate') %>
      </button>

      <div id="favorite-button-<%= @shop.id %>">
        <% if current_user %>
          <% if current_user.favorite?(@shop) %>
            <%= link_to shop_favorite_path(@shop),
                data: { turbo_method: :delete, turbo_confirm: t('defaults.favorite_confirm') },
                class: "btn btn-danger" do %>
              <i class="fas fa-heart me-1"></i><%= t('defaults.remove_favorite') %>
            <% end %>
          <% else %>
            <%= link_to shop_favorite_path(@shop),
                data: { turbo_method: :post },
                class: "btn btn-outline-danger" do %>
              <i class="far fa-heart me-1"></i><%= t('defaults.add_favorite') %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to login_path, class: "btn btn-outline-secondary" do %>
            <i class="far fa-heart me-1"></i><%= t('defaults.favorite_login_required') %>
          <% end %>
        <% end %>
      </div>

      <% if current_user %>
        <%= link_to new_shop_review_path(@shop), class: "btn btn-outline-primary" do %>
          <i class="fas fa-edit me-1"></i><%= t('defaults.post_review') %>
        <% end %>
      <% else %>
        <%= link_to login_path, class: "btn btn-outline-primary" do %>
          <i class="fas fa-edit me-1"></i><%= t('defaults.review_login_required') %>
        <% end %>
      <% end %>
    </div>
  </div>

  <ul class="nav nav-tabs justify-content-center mb-3">
    <li class="nav-item">
      <%= link_to t('defaults.shop_details'),
          shop_path(@shop, tab: 'details'),
          class: "nav-link #{'active' if params[:tab].blank? || params[:tab] == 'details'}" %>
    </li>
    <li class="nav-item">
      <%= link_to '写真',
          shop_path(@shop, tab: 'photos'),
          class: "nav-link #{'active' if params[:tab] == 'photos'}" %>
    </li>
    <li class="nav-item">
      <%= link_to t('defaults.reviews'),
          shop_path(@shop, tab: 'reviews'),
          class: "nav-link #{'active' if params[:tab] == 'reviews'}" %>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane fade text-center <%= 'show active' if params[:tab].blank? || params[:tab] == 'details' %>">
      <%= render 'shop_details', shop: @shop %>
    </div>

    <div class="tab-pane fade <%= 'show active' if params[:tab] == 'photos' %>">
      <%= render 'photos_tab', photos: @shop_photos %>
    </div>

    <div class="tab-pane fade <%= 'show active' if params[:tab] == 'reviews' %>">
      <%= render 'reviews_tab' %>
    </div>
  </div>
</div>

<script>
function navigateToShop(shop) {
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    const url = `https://www.google.com/maps/dir/${position.coords.latitude},${position.coords.longitude}/${shop.latitude},${shop.longitude}`;
    window.open(url, '_blank');
  }, function() {
    const url = `https://www.google.com/maps/search/?api=1&query=${shop.latitude},${shop.longitude}`;
    window.open(url, '_blank');
  });
}
}
</script>
