<div class="mypage-container">
  <%= render 'profile_section', user: @user %>

  <% if @user == current_user %>
    
    <ul class="nav nav-tabs justify-content-center" id="shopTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" 
                data-bs-target="#posts" type="button" role="tab">
          <%= t('.submit') %>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="favorites-tab" data-bs-toggle="tab" 
                data-bs-target="#favorites" type="button" role="tab">
          <%= t('.favorite') %>
        </button>
      </li>
    </ul>

    <div class="tab-content" id="shopTabsContent">
      <%= render 'reviews_tab' %>
      
      <%= render 'favorites_tab' %>
    </div>
  <% end %>
</div>

